
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background: #15171c;
  color: #fff;
}

body {
  min-height: 100vh;
}

/* Ensure Next.js app uses full height */
#__next, main {
  height: 100%;
}
